.url-heading{
    color: purple;
    text-align: center;
    border: 3px solid green;
}
.url-input{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    
}

.short-button{
    text-align: center;
}

.input-box{
    height: 30px;
    width: 350px;
}

.clickable-button{
    height: 30px;
    width: 100px;
}
   

